<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="center"><h1>Добро пожаловать</h1>
    <div>
        <form name="test" method="post" action="input1.php">
            <p><b>Имя:</b><br>
                <input id="name" type="text" size="40">
            </p>
        </form>
    </div>
    <button>Найти пользователя</button>
</div>
</body>
</html>